/ReadExcelSample/obj
/ReadExcelSample/bin
.vs/ReadExcelSample/v15/Server/sqlite3/storage.ide-wal
.vs/ReadExcelSample/v15/Server/sqlite3/storage.ide-shm
.vs/ReadExcelSample/v15/Server/sqlite3/storage.ide
.vs/ReadExcelSample/v15/Server/sqlite3/db.lock
.vs/ReadExcelSample/v15/.suo
